<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>日記</title>
    </head>
    <body>
        <h1>日記</h1>
        <ul>
            {% for page in page_list %}
                <li>{{ page.page_date }}: 
                    <a href="{% url 'diary:page_detail' page.id %}">{{ page.title }}</a>
                </li>
            {% empty %}
                <div>日記がありません。</div>
            {% endfor %}
        </ul>
    </body>
</html>
